.screen {
  display: flex;
  flex-direction: row;
  width: 100vh;
  height: 100vh;
}
.screenleft {
  width: 10%;
  float: left;
}
.screenright {
  width: 90%;
  float: right;
}
body {
  width: 100vh;
  heigth: 100vh;
{
